/* COLOURS */

:root {
  --bright0: #ffffff;
  --bright1: #d9d9d9;
  --bright2: #bfd1d9;
  --medium: #8a9ea6;
  --dark1: #586673;
  --dark2: #1d3240;
  --key: #dc3545;
}

/* MAIN BODY styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--dark1);
}

#custom_page_bckgrnd {
  background: url(../img/main_background.svg) fixed;
  background-size: cover;
}

/* HEADER styles */

.headerMW {
  text-align: center;
  display: inline-block;
  z-index: 2;
  position: fixed;
  top: 5%;
}

.headerwrap {
  margin-top: -15px;
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

header {
  margin-top: 2vh !important;
}

/* HEADLINE */

.headline {
  border-right: 100px dashed var(--key);
}

/* LINKS */

.col a {
  color: var(--dark1);
  text-decoration: none;
}

article a {
  color: var(--key);
}

article a:hover {
  color: var(--dark1);
  text-decoration: none;
}

.col a:hover {
  color: var(--medium);
}

/* INDEX PAGE */

#cards-home {
  background: url(../img/black_Background.jpg) fixed;
  background-size: cover;
  z-index: 1;
  position: relative;
}

blockquote p {
  color: var(--bright0);
  text-align: center;
}

.dashed {
  border: 1px dashed black;
  max-width: 600px;
}

section h1 {
  color: var(--bright0);
}

/* ME PAGE */

#profile-pic {
  border: 3px solid var(--bright0);
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  width: 8rem;
  max-width: 100%;
  height: auto;
  top: -50px;
  left: -20px;
  z-index: 100;
}

.myStory {
  font-size: 1.15rem;
}

.dashed_me {
  border: 1px dashed black;
  margin: 30px 30px 20px 30px;
  padding: 25px;
  font-size: 1rem;
}

.svg_icon {
  fill: var(--dark1);
}

#me-background {
  background: url(../img/white_Background.jpg) fixed;
  background-size: cover;
  z-index: 1;
  margin-top: 20vh !important;
}

.lower {
  margin-top: 15vh !important;
}

.edu-card {
  background: var(--bright0);
}

.edu-photo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.edu-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--dark2);
}

.edu-container:hover .edu-info {
  opacity: 1;
}

.edu-text {
  color: var(--bright0);
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.edu-container {
  cursor: pointer;
}
#card-brief {
  max-width: 700px;
  margin: auto;
  color: var(--bright0);
}

/* WORK PAGE */

#linkedin-pic {
  border: 0.5px solid var(--bright0);
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  width: 1.5rem;
  
}


/* SKROLLR PARALLAX DIV */

.skrollr-shift {
  margin-top: 100vh;
}

/* MEDIA QUERIES */

/* for small screens */
@media (max-width: 1024px) {
  .mobile {
    margin-top: 70vh !important;
  }
  .edu-text {
    font-size: 0.5rem;
  }
  .edu-info {
    opacity: 1;
  }
  .edu-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .headline {
    font-size: 2.5rem;
  }
  .headerMW {
    text-align: center;
    display: inline-block;
    z-index: 2;
    position: relative;
    top: 5%;
  }
}

/* for large screens */
@media (min-width: 1024px) {
  #myNav {
    position: fixed;
    width: 100%;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
  }
  #profile-pic {
    border: 3px solid var(--bright0);
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
    width: 14rem;
    max-width: 100%;
    height: auto;
    top: -50px;
    left: -70px;
    z-index: 100;
  }
  .skrollr-shift {
    margin-top: 100vh;
  }
  .storywrap {
    margin-top: -15px;
    height: 100vh;
    position: fixed;
    top: 1vh;
    left: 25%;
    width: 100%;
    margin: auto;
  }
  .dashed_me {
    border: 1px dashed black;
    margin: 30px 30px 20px 165px;
    padding: 25px;
    font-size: 1rem;
  }
}

/* THOUGHTS PAGE */

.img {
  max-width: 100%;
  height: auto;
}

/* FOOTER */

footer {
  background: url(../img/footer_Background.jpg) fixed;
  background-size: cover;
  z-index: 1;
  position: relative;
}

#contact_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: var(--dark2);
}

footer a:hover {
  color: var(--dark1);
  text-decoration: none;
}

/* CV TIMELINE */

.timeline {
  position: relative;
}
.timeline-line {
  position: absolute;
  width: 4px;
  display: block;
  background: var(--bright0);
  top: 60px;
  bottom: 10px;
  margin-left: -18px;
}
.timeline-line::before {
  top: -4px;
}
.timeline-line::after {
  bottom: -4px;
}
.timeline-line::after,
.timeline-line::before {
  content: "";
  position: absolute;
  left: -4px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: var(--bright0);
}
.timeline-separator {
  padding: 15px 5px 10px 40px;
  margin-left: -15px;
  margin-top: 40px;
}
.timeline-separator h3 {
  margin-left: -18px;
}
.timeline-icon {
  margin: 10px 0 0 -7px;
  height: 1.8em;
  width: 1.8em;
}

.yeartitle {
  color: var(--bright0);
}

.jobs {
  background: none;
  color: var(--bright0);
  border: 1px dashed white;
}

/* SHOW/HIDE CONTENT */

.hideContent {
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
}

.showContent {
  line-height: 1.5em;
  height: auto;
  overflow-y: hidden;
}

.show-more {
  color: var(--key);
}
