/* colours */

:root {
  --bright0: #ffffff;
  --bright1: #d9d9d9;
  --bright2: #bfd1d9;
  --medium: #8a9ea6;
  --dark1: #586673;
  --dark2: #1d3240;
}

/* main body */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;

  color: var(--dark1);
}

#custom_page_bckgrnd {
  background: url(../img/main_background.svg) fixed;
  background-size: cover;
}

/* header */

.logoMW {
  /* width: 250px; */
  /* height: 250px; */
  display: inline-block;
  text-align: center;
  z-index: 99;
  position: fixed;
  /* left: 43%; */
}

#mwHead {
  z-index: 200;
  
  opacity: 0;
  transition: opacity 200ms linear;
  
  
}

.headerwrap {
  background: url(../img/main_background.svg) fixed;
  background-size: cover;
  margin-top: -15px;
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

#svg_icon {
  color: white;
}

/* main page styles */

#cards-home {
  background: url(../img/black_Background.jpg) fixed;
  background-size: cover;
  z-index: 1;
  position: relative;
}

blockquote p {
  color: var(--bright0);
  text-align: center;
}

.dashed {
  border: 1px dashed black;
  max-width: 600px;
}

.skrollr-shift {
  margin-top: 100vh;
}

section h1 {
  color: var(--bright0);
}

/* work page styles */

.carousel {
  width: 400px;
  margin: auto;
}

.carousel-control-prev {
  left: -100px;
}

.carousel-control-next {
  right: -100px;
}

/* me page styles */

#profile-pic {
  border: 3px solid var(--bright0);
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
  width: 8rem;
  max-width: 100%;
  height: auto;
  top: -50px;
  left: -20px;
  z-index: 100;
}

.myStory {
  font-size: 0.85rem;
}

.dashed_me {
  border: 1px dashed black;
  margin: 30px 30px 20px 30px;
  padding: 25px;
  font-size: 1rem;
}

#me-background {
  background: url(../img/white_Background.jpg) fixed;
  background-size: cover;
  z-index: 1;
  margin-top: 30vh !important;
  /* background-color: var(--bright0); */
}

.edu-card {
  background: var(--bright0);
}

.edu-photo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.edu-info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.edu-container:hover .edu-photo {
  opacity: 0.3;
}

.edu-container:hover .edu-info {
  opacity: 1;
}

.edu-text {
  color: var(--bright0);
  font-size: 1.5rem;
}

#card-brief {
  max-width: 700px;
  margin: auto;
  color: var(--bright0);
}

/* navigation bar */

.navbar {
  z-index: 120;
}

@media (min-width: 992px) {
  #myNav {
    position: fixed;
    width: 100%;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
  }
  .nav-item {
    border-right: 1px white solid;
  }

  #profile-pic {
    border: 3px solid var(--bright0);
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 50px -31px rgba(0, 0, 0, 0.75);
    width: 14rem;
    max-width: 100%;
    height: auto;
    top: -50px;
    left: -70px;
    z-index: 100;
  }

  .dashed_me {
    border: 1px dashed black;
    margin: 30px 30px 20px 165px;
    padding: 25px;
    font-size: 1rem;
  }
}
#myNav {
  transition: background-color 200ms linear;
}

.nav-link {
  font-size: 1.25rem;
  color: var(--bright0);
  line-height: 0;
}

.nav-link:hover {
  color: var(--bright2);
}

/* thoughts page styles */

.img {
  max-width: 100%;
  height: auto;
}

/* footer styles */

footer {
  /* background-color: var(--bright2); */
  background: url(../img/footer_Background.jpg) fixed;
  background-size: cover;
  z-index: 1;
  position: relative;
}

#contact_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: var(--dark2);
}

footer a:hover {
  color: var(--dark1);
  text-decoration: none;
}

/* Timeline */
.timeline {
  position: relative;
}
.timeline-line {
  position: absolute;
  width: 4px;
  display: block;
  background: var(--bright0);
  top: 60px;
  bottom: 10px;
  margin-left: -18px;
}
.timeline-line::before {
  top: -4px;
}
.timeline-line::after {
  bottom: -4px;
}
.timeline-line::after,
.timeline-line::before {
  content: "";
  position: absolute;
  left: -4px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: var(--bright0);
}
.timeline-separator {
  /* border-top: 1px solid currentColor; */
  padding: 15px 5px 10px 40px;
  margin-left: -15px;
  margin-top: 40px;
}
.timeline-separator h3 {
  margin-left: -18px;
}
.timeline-icon {
  margin: 10px 0 0 -7px;
  height: 1.8em;
  width: 1.8em;
}

.yeartitle {
  color: var(--bright0);
}

.card {
  background: none;
  color: var(--bright0);
  border: 1px dashed white;
}

/* show/hide content */

.hideContent {
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
}

.showContent {
  line-height: 1.5em;
  height: auto;
}
